body {
    background-image: url(../images/black-brick.jpeg);
}
#header {
    color: aliceblue;
    font-family: fantasy;
    font-size: 60px;
    width: 20%;
    text-align: center;
    margin-left: 45%;
}

#rules {
    background-color: aqua;
    width: 25%;
    font-size: 25px;
}

#list {
    font-size: 20px;
}

#randomNumberBox {
    background-color: blue;
    width: 20%;
    color: white;
    font-size: 30px;;
}

#score {
    background-color: purple;
    font-size: 30px;
    width: 20%;
    border: 10px;
}

#yourScoreBox {
    color: white;
    font-size: 30px;
    
}
#whiteCrystal {
    height: 150px;
}

#purpleCrystal {
    height: 150px;
}

#tealCrystal {
    height: 150px;
}

#orangeCrystal {
    height: 150px;
}